<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>vue_test</title>
  <link rel="stylesheet" href="src/css/style.css">
</head>

<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product">
      <div class="product-image">
        <img v-bind:src="image" v-bind:alt="alttext">
      </div>
      <div class="product-info">
        <h1>{{product}}</h1>
        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory < 10 && inventory > 0">Almost sold out</p>
        <p v-else>Out of Stock</p>
        <p v-show="inStock">In Stock</p>
        <span v-if="onSale">On Sale!</span>
        <a v-bind:href="link" class="product-link">Show more</a>
      </div>
    </div>
  </div>
  <!-- <script src="/dist/build.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        product: "Socks",
        image: "src/assets/vmSocks-green-onWhite_preview.jpeg",
        alttext: "A pair of socks",
        link: "https://www.google.com",
        inStock: true,
        inventory: 100,
        onSale:true,
      }
    })

  </script>
</body>

</html>
